/chapter_8/learn-mongoose/node_modules
/node_modules
/chapter_9/lecture/node_modules
/chapter_9/lecture/.env
/chapter_10/lecture/nodebird-api/node_modules
/chapter_10/lecture/nodebird-api/.env
/chapter_10/lecture/nodecat/node_modules